<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ipusoft.sim">

    <application>
        <activity android:name=".SimMainActivity" />
        <activity android:name=".view.HowToOpenRecordingActivity" />
    </application>

</manifest>